<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.common.movie.mapper.AdminUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.common.movie.po.AdminUser">
        <id column="au_id" property="auId" />
        <result column="au_username" property="auUsername" />
        <result column="au_password" property="auPassword" />
        <result column="au_role" property="auRole" />
    </resultMap>

</mapper>
