<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloud.common.movie.mapper.MoviesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cloud.common.movie.po.Movies">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="star" property="star" />
        <result column="movie_time" property="movieTime" />
        <result column="movie_country" property="movieCountry" />
        <result column="movie_type" property="movieType" />
        <result column="rating_num" property="ratingNum" />
        <result column="img_url" property="imgUrl" />
        <result column="people" property="people" />
        <result column="summary" property="summary" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

</mapper>
